SOAPDemo1_Client/src/myperson.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://examples/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://examples/" name="PersonServiceImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://examples/" schemaLocation="http://localhost:8889/ws/myperson?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="addPerson">
<part name="arg0" type="tns:person"></part>
</message>
<message name="addPersonResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="getAllPersons"></message>
<message name="getAllPersonsResponse">
<part name="return" type="tns:personArray"></part>
</message>
<message name="getPerson">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="getPersonResponse">
<part name="return" type="tns:person"></part>
</message>
<message name="deletePerson">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="deletePersonResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<portType name="PersonService">
<operation name="addPerson">
<input wsam:Action="http://examples/PersonService/addPersonRequest" message="tns:addPerson"></input>
<output wsam:Action="http://examples/PersonService/addPersonResponse" message="tns:addPersonResponse"></output>
</operation>
<operation name="getAllPersons">
<input wsam:Action="http://examples/PersonService/getAllPersonsRequest" message="tns:getAllPersons"></input>
<output wsam:Action="http://examples/PersonService/getAllPersonsResponse" message="tns:getAllPersonsResponse"></output>
</operation>
<operation name="getPerson">
<input wsam:Action="http://examples/PersonService/getPersonRequest" message="tns:getPerson"></input>
<output wsam:Action="http://examples/PersonService/getPersonResponse" message="tns:getPersonResponse"></output>
</operation>
<operation name="deletePerson">
<input wsam:Action="http://examples/PersonService/deletePersonRequest" message="tns:deletePerson"></input>
<output wsam:Action="http://examples/PersonService/deletePersonResponse" message="tns:deletePersonResponse"></output>
</operation>
</portType>
<binding name="PersonServiceImplPortBinding" type="tns:PersonService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="addPerson">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://examples/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://examples/"></soap:body>
</output>
</operation>
<operation name="getAllPersons">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://examples/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://examples/"></soap:body>
</output>
</operation>
<operation name="getPerson">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://examples/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://examples/"></soap:body>
</output>
</operation>
<operation name="deletePerson">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://examples/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://examples/"></soap:body>
</output>
</operation>
</binding>
<service name="PersonServiceImplService">
<port name="PersonServiceImplPort" binding="tns:PersonServiceImplPortBinding">
<soap:address location="http://localhost:8889/ws/myperson"></soap:address>
</port>
</service>
</definitions>